<!-- Create task-->  
<div class="modal fade" id="createtask" tabindex="-1"  aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-md modal-dialog-scrollable">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title  fw-bold" id="createprojectlLabel"> Create Task</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <form action="/task-add" method="post">
            <div class="modal-body">
                <div class="mb-3">
                    <label  class="form-label">Project Name</label>
                    <select name="ProjectId" class="form-select" aria-label="Default select Project Name">
                        <option selected disabled>Project Name Select</option>
                        <% projectsData.forEach(project => { %>
                            <option value="<%= project.id %>"><%= project.title %></option>
                        <% }) %>
                    </select>
                </div>
                <div class="mb-3">
                    <div class="row">
                        <div class="col">
                            <label for="datepickerdedone" class="form-label">Task End Date</label>
                            <input name="dueDate" type="date" class="form-control" id="datepickerdedone">
                        </div>
                    </div>
                </div>
               
                <div class="row g-3 mb-3">
                    <div class="col-sm">
                        <label  class="form-label">Task Assign Person</label>
                        <select name="UserId" class="form-select" aria-label="Default select Priority">
                            <option selected disabled>Select Person</option>
                            <% userData.forEach(user => { %>
                                <option value="<%= user.User.dataValues.id %>"><%= user.firstName %> <%= user.lastName %></option>
                            <% }) %>
                        </select>
                    </div>
                </div>
                <div class="row g-3 mb-3">
                    <div class="col-sm">
                        <label  class="form-label">Task Priority</label>
                        <select name="priority" class="form-select" aria-label="Default select Priority">
                            <option selected disabled>Select Priority Level</option>
                            <option value="Highest">Highest</option>
                            <option value="High">Highest</option>
                            <option value="Medium">Medium</option>
                            <option value="Low">Low</option>
                            <option value="Lowest">Lowest</option>
                        </select>
                    </div>
                </div>
                <div class="mb-3">
                    <label for="exampleFormControlTextarea786" class="form-label">Task</label>
                    <textarea name="task" class="form-control" rows="3" placeholder="Add task name"></textarea>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Done</button>
                <button type="submit" class="btn btn-primary">Create</button>
            </div>
        </form>
    </div>
    </div>
</div>